*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

a{
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  display: inline-block;
  color: black;
}

ul{
  list-style-type:none;
}

.container{
  margin: 0 auto;
  max-width: 1440px;
}

.header-list{ 
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.header-list a + a{
  margin-left: 20px;
}
.header-list a:hover{
  color: chocolate;
}
.avatar{
  margin-bottom: 30px;
  text-align: center;
}

/* =====main======*/
.main{
  display: flex;
}

.title{
  margin-bottom: 10px;
  text-align: center;
  color: black;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.flex-col{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.aside{
  width: 50%;
  margin-bottom: 20px;
} 

.aside-section{
  background-color: #bbebf6;
  border-radius: 10px;
  padding: 20px;
}

.contacts-item a{
  margin-top: 10px;
  display: flex;
  align-items: center;
} 

svg{
  vertical-align: middle;
  margin-right: 8px;
  fill:rgb(26, 26, 29);
}

.article-wrapper{
 margin-left: 20px;
 font-weight: normal;
 line-height: 1.5;
}
.article-wrapper section{
  margin-bottom: 50px;
}
.skills-list li{
  margin-bottom: 10px;
}

.language-list span{
  font-weight: normal;
}

.experience-item,.education-item{
  font-weight: 600;
  padding-inline: 20px;
  margin-bottom: 20px;
}

.experience-wrap{
  display:flex;
}
.experience-wrap a{
  color: rgb(90, 80, 80);
}

.experience-wrap a:hover{
  color: blueviolet;
}

.experience-name{
  min-width: 130px;
}
.experience-text{
  font-weight: normal;
  padding-left: 50px;
}

.education-name{
  display: flex;
  justify-content: space-between;
}



.footer{
  display:flex;
  justify-content: space-between;
  padding: 30px;
 align-items: center;
}